/* line 4, ../sass/_typography.scss */
.site {
  font-family: "Headland One", "Georgia", serif;
}

/* line 7, ../sass/_typography.scss */
header, h1, h2, h3, h4 {
  font-family: "Oswald", "Archivo Narrow", sans-serif;
}

/* line 10, ../sass/_typography.scss */
p {
  font-size: 0.9em;
  line-height: 1.5em;
  text-align: justify;
  word-break: break-word;
  hyphens: auto;
}

/* line 18, ../sass/_typography.scss */
.social a {
  text-decoration: none;
  color: #333;
}

/* line 1, ../sass/_syntax.scss */
.highlight {
  background: #ffffff;
}

/* line 2, ../sass/_syntax.scss */
.highlight .c {
  color: #999988;
  font-style: italic;
}

/* Comment */
/* line 3, ../sass/_syntax.scss */
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}

/* Error */
/* line 4, ../sass/_syntax.scss */
.highlight .k {
  font-weight: bold;
}

/* Keyword */
/* line 5, ../sass/_syntax.scss */
.highlight .o {
  font-weight: bold;
}

/* Operator */
/* line 6, ../sass/_syntax.scss */
.highlight .cm {
  color: #999988;
  font-style: italic;
}

/* Comment.Multiline */
/* line 7, ../sass/_syntax.scss */
.highlight .cp {
  color: #999999;
  font-weight: bold;
}

/* Comment.Preproc */
/* line 8, ../sass/_syntax.scss */
.highlight .c1 {
  color: #999988;
  font-style: italic;
}

/* Comment.Single */
/* line 9, ../sass/_syntax.scss */
.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}

/* Comment.Special */
/* line 10, ../sass/_syntax.scss */
.highlight .gd {
  color: #000000;
  background-color: #ffdddd;
}

/* Generic.Deleted */
/* line 11, ../sass/_syntax.scss */
.highlight .gd .x {
  color: #000000;
  background-color: #ffaaaa;
}

/* Generic.Deleted.Specific */
/* line 12, ../sass/_syntax.scss */
.highlight .ge {
  font-style: italic;
}

/* Generic.Emph */
/* line 13, ../sass/_syntax.scss */
.highlight .gr {
  color: #aa0000;
}

/* Generic.Error */
/* line 14, ../sass/_syntax.scss */
.highlight .gh {
  color: #999999;
}

/* Generic.Heading */
/* line 15, ../sass/_syntax.scss */
.highlight .gi {
  color: #000000;
  background-color: #ddffdd;
}

/* Generic.Inserted */
/* line 16, ../sass/_syntax.scss */
.highlight .gi .x {
  color: #000000;
  background-color: #aaffaa;
}

/* Generic.Inserted.Specific */
/* line 17, ../sass/_syntax.scss */
.highlight .go {
  color: #888888;
}

/* Generic.Output */
/* line 18, ../sass/_syntax.scss */
.highlight .gp {
  color: #555555;
}

/* Generic.Prompt */
/* line 19, ../sass/_syntax.scss */
.highlight .gs {
  font-weight: bold;
}

/* Generic.Strong */
/* line 20, ../sass/_syntax.scss */
.highlight .gu {
  color: #aaaaaa;
}

/* Generic.Subheading */
/* line 21, ../sass/_syntax.scss */
.highlight .gt {
  color: #aa0000;
}

/* Generic.Traceback */
/* line 22, ../sass/_syntax.scss */
.highlight .kc {
  font-weight: bold;
}

/* Keyword.Constant */
/* line 23, ../sass/_syntax.scss */
.highlight .kd {
  font-weight: bold;
}

/* Keyword.Declaration */
/* line 24, ../sass/_syntax.scss */
.highlight .kp {
  font-weight: bold;
}

/* Keyword.Pseudo */
/* line 25, ../sass/_syntax.scss */
.highlight .kr {
  font-weight: bold;
}

/* Keyword.Reserved */
/* line 26, ../sass/_syntax.scss */
.highlight .kt {
  color: #445588;
  font-weight: bold;
}

/* Keyword.Type */
/* line 27, ../sass/_syntax.scss */
.highlight .m {
  color: #009999;
}

/* Literal.Number */
/* line 28, ../sass/_syntax.scss */
.highlight .s {
  color: #dd1144;
}

/* Literal.String */
/* line 29, ../sass/_syntax.scss */
.highlight .na {
  color: teal;
}

/* Name.Attribute */
/* line 30, ../sass/_syntax.scss */
.highlight .nb {
  color: #0086b3;
}

/* Name.Builtin */
/* line 31, ../sass/_syntax.scss */
.highlight .nc {
  color: #445588;
  font-weight: bold;
}

/* Name.Class */
/* line 32, ../sass/_syntax.scss */
.highlight .no {
  color: teal;
}

/* Name.Constant */
/* line 33, ../sass/_syntax.scss */
.highlight .ni {
  color: purple;
}

/* Name.Entity */
/* line 34, ../sass/_syntax.scss */
.highlight .ne {
  color: #990000;
  font-weight: bold;
}

/* Name.Exception */
/* line 35, ../sass/_syntax.scss */
.highlight .nf {
  color: #990000;
  font-weight: bold;
}

/* Name.Function */
/* line 36, ../sass/_syntax.scss */
.highlight .nn {
  color: #555555;
}

/* Name.Namespace */
/* line 37, ../sass/_syntax.scss */
.highlight .nt {
  color: navy;
}

/* Name.Tag */
/* line 38, ../sass/_syntax.scss */
.highlight .nv {
  color: teal;
}

/* Name.Variable */
/* line 39, ../sass/_syntax.scss */
.highlight .ow {
  font-weight: bold;
}

/* Operator.Word */
/* line 40, ../sass/_syntax.scss */
.highlight .w {
  color: #bbbbbb;
}

/* Text.Whitespace */
/* line 41, ../sass/_syntax.scss */
.highlight .mf {
  color: #009999;
}

/* Literal.Number.Float */
/* line 42, ../sass/_syntax.scss */
.highlight .mh {
  color: #009999;
}

/* Literal.Number.Hex */
/* line 43, ../sass/_syntax.scss */
.highlight .mi {
  color: #009999;
}

/* Literal.Number.Integer */
/* line 44, ../sass/_syntax.scss */
.highlight .mo {
  color: #009999;
}

/* Literal.Number.Oct */
/* line 45, ../sass/_syntax.scss */
.highlight .sb {
  color: #dd1144;
}

/* Literal.String.Backtick */
/* line 46, ../sass/_syntax.scss */
.highlight .sc {
  color: #dd1144;
}

/* Literal.String.Char */
/* line 47, ../sass/_syntax.scss */
.highlight .sd {
  color: #dd1144;
}

/* Literal.String.Doc */
/* line 48, ../sass/_syntax.scss */
.highlight .s2 {
  color: #dd1144;
}

/* Literal.String.Double */
/* line 49, ../sass/_syntax.scss */
.highlight .se {
  color: #dd1144;
}

/* Literal.String.Escape */
/* line 50, ../sass/_syntax.scss */
.highlight .sh {
  color: #dd1144;
}

/* Literal.String.Heredoc */
/* line 51, ../sass/_syntax.scss */
.highlight .si {
  color: #dd1144;
}

/* Literal.String.Interpol */
/* line 52, ../sass/_syntax.scss */
.highlight .sx {
  color: #dd1144;
}

/* Literal.String.Other */
/* line 53, ../sass/_syntax.scss */
.highlight .sr {
  color: #009926;
}

/* Literal.String.Regex */
/* line 54, ../sass/_syntax.scss */
.highlight .s1 {
  color: #dd1144;
}

/* Literal.String.Single */
/* line 55, ../sass/_syntax.scss */
.highlight .ss {
  color: #990073;
}

/* Literal.String.Symbol */
/* line 56, ../sass/_syntax.scss */
.highlight .bp {
  color: #999999;
}

/* Name.Builtin.Pseudo */
/* line 57, ../sass/_syntax.scss */
.highlight .vc {
  color: teal;
}

/* Name.Variable.Class */
/* line 58, ../sass/_syntax.scss */
.highlight .vg {
  color: teal;
}

/* Name.Variable.Global */
/* line 59, ../sass/_syntax.scss */
.highlight .vi {
  color: teal;
}

/* Name.Variable.Instance */
/* line 60, ../sass/_syntax.scss */
.highlight .il {
  color: #009999;
}

/* Literal.Number.Integer.Long */
/******** app *********/
/* line 3, ../sass/_layout.scss */
.container {
  padding-left: 30px;
  padding-right: 30px;
}

/* line 7, ../sass/_layout.scss */
.contents {
  clear: both;
  margin-top: 130px;
  position: relative;
  display: block;
}

/* line 13, ../sass/_layout.scss */
header {
  background-color: #000;
  height: 100px;
  line-height: 100px;
  vertical-align: middle;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-transform: uppercase;
  border-bottom: 1px solid #D5D5D5;
  z-index: 999;
}
/* line 25, ../sass/_layout.scss */
header .site-title {
  width: 50%;
  height: 100%;
  float: left;
  display: block;
}
/* line 30, ../sass/_layout.scss */
header .site-title h1 {
  font-size: 36px;
  margin-left: 30px;
  margin-top: 0;
}
/* line 34, ../sass/_layout.scss */
header .site-title h1 a {
  color: #FFFFFF;
  text-decoration: none;
}
/* line 38, ../sass/_layout.scss */
header .site-title h1 em {
  font-size: 10px;
  color: #666;
  margin-left: 10px;
}
/* line 46, ../sass/_layout.scss */
header nav {
  width: 50%;
  float: left;
  height: 100%;
  display: block;
}
/* line 51, ../sass/_layout.scss */
header nav ul {
  float: right;
  padding: 0;
  margin: 0;
}
/* line 55, ../sass/_layout.scss */
header nav ul li {
  background-color: #e4e4e4;
  min-width: 100px;
  display: inline-block;
  float: left;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}
/* line 63, ../sass/_layout.scss */
header nav ul li a {
  text-decoration: none;
  color: #000000;
}
/* line 68, ../sass/_layout.scss */
header nav ul li:first-child {
  background-color: #F8B195;
}
/* line 71, ../sass/_layout.scss */
header nav ul li:nth-child(2) {
  background-color: #FFF7BD;
}
/* line 74, ../sass/_layout.scss */
header nav ul li:nth-child(3) {
  background-color: #95CFB7;
}
/* line 77, ../sass/_layout.scss */
header nav ul li:nth-child(4) {
  background-color: #69D2E7;
}

/* line 88, ../sass/_layout.scss */
#experiments .categories {
  margin-bottom: 0px;
}
/* line 90, ../sass/_layout.scss */
#experiments .categories ul {
  list-style-type: none;
  width: 100%;
}
/* line 94, ../sass/_layout.scss */
#experiments .categories li {
  list-style-type: none;
  text-align: center;
}
/* line 97, ../sass/_layout.scss */
#experiments .categories li a {
  float: left;
  width: 18%;
  font-size: 20px;
  color: #666666;
  padding: 15px 0 15px 0;
  text-decoration: none;
  margin-right: 2%;
  border: 1px solid #ccc;
  border-left: 4px solid;
}
/* line 109, ../sass/_layout.scss */
#experiments .categories li:first-child > a {
  border-color: #6A5A5D;
}
/* line 112, ../sass/_layout.scss */
#experiments .categories li:nth-child(2) > a {
  border-color: #A38A5F;
}
/* line 115, ../sass/_layout.scss */
#experiments .categories li:nth-child(3) > a {
  border-color: #9A8194;
}
/* line 118, ../sass/_layout.scss */
#experiments .categories li:nth-child(4) > a {
  border-color: #5B7C8D;
}
/* line 121, ../sass/_layout.scss */
#experiments .categories li:nth-child(5) > a {
  border-color: #99BBAD;
  margin-right: 0;
}

/* line 129, ../sass/_layout.scss */
.site .meta {
  color: #aaa;
}

/* line 133, ../sass/_layout.scss */
footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 4em;
  overflow: hidden;
}

/* line 141, ../sass/_layout.scss */
footer .contact {
  float: left;
  margin-right: 3em;
}

/* line 146, ../sass/_layout.scss */
footer .contact a {
  color: #8085C1;
}

/* line 150, ../sass/_layout.scss */
footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

/* line 156, ../sass/_layout.scss */
footer .rss img {
  border: 0;
}

/* line 160, ../sass/_layout.scss */
.clear {
  clear: both;
  display: block;
}

/* line 1, ../sass/_grid.scss */
.col-16 {
  width: 100%;
}

/* line 4, ../sass/_grid.scss */
.col-12 {
  width: 75%;
}

/* line 7, ../sass/_grid.scss */
.col-8 {
  width: 50%;
}

/* line 10, ../sass/_grid.scss */
.col-4 {
  width: 25%;
}

/* line 13, ../sass/_grid.scss */
.col-2 {
  width: 12.5%;
}

/* line 16, ../sass/_grid.scss */
.left {
  float: left;
}

/* standard */
/* line 2, ../sass/_post.scss */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

/* line 8, ../sass/_post.scss */
.post ul, .post ol {
  margin-left: 1.35em;
}

/* line 12, ../sass/_post.scss */
.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

/* line 18, ../sass/_post.scss */
.post pre code {
  border: none;
}

/* terminal */
/* line 23, ../sass/_post.scss */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

/* line 29, ../sass/_post.scss */
.post pre.terminal code {
  background-color: #333;
}

/* line 1, ../sass/_components.scss */
.thumbnail {
  margin: -10px;
  border: 10px solid #FFF;
  -moz-box-shadow: 1px 1px 3px #CCC;
  -webkit-box-shadow: 1px 1px 3px #CCC;
  -o-box-shadow: 1px 1px 3px #CCC;
  box-shadow: 1px 1px 3px #CCC;
}

/* Home */
/* line 11, ../sass/app.scss */
ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

/* line 16, ../sass/app.scss */
ul.posts li {
  line-height: 1.75em;
}

/* line 20, ../sass/app.scss */
ul.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}
