<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ page.title }}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/font-awesome-ie7.min.css">
  <link rel="stylesheet" href="/css/app.css">

  <link href='http://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Headland+One' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Archivo+Narrow:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
  <script src="/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body>
  <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <header>
    <div class="site-title">
      <h1><a href="/">imagineer</a><em>// coding with colors</em></h1>
    </div>
    <nav>
      <ul>
        <li><a class="extra" href="/experiments/">Experiments</a></li>
        <li><a class="extra" href="/">Blog</a></li>
        <li><a class="extra" href="/about/">About</a></li>
        <li><a class="extra" href="/about/"><i class="icon-twitter"></i></a></li>
      </ul>          
    </nav>
  </header>
  <div class="container">
    <div class="contents">
      <div class="site">
        {{ content }}            
      </div>
    </div>
  </div> 

  <div class="container">
    <footer class="clear">
      <div class="contact">
        <p>
          &copy; Praseetha KR
        </p>
      </div>   
    </footer>   
  </div> 

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="/js/jquery-2.0.3.min.js"></script>
  <script src="/js/plugins.js"></script>
  <script src="/js/main.js"></script>
</body>
</html>
